.row-header {
    margin: 0px auto;
    padding: 0px auto;
        
}

.row-content {
   padding-left: 10%
}

.footer {
    background-color: #D0C4E8;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575CD;
    color: floralwhite;
    width: 0px auto;
}

.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}
.space {
    padding-top: 5%;
    border-top: 1px brown;
}

.sp2 {
    border-top: 1px brown; 
    padding-top: 5%;

}
.contain {
    padding-right: 52px;
}

.sp3 {
    
    padding-bottom: 10%;
}

